$appWidth: 944px;
$mobileBreakpoint: 820px;

$linkColor: #FFFFFF;
$accentColor: #eeb111;
$titleColor: #313131;

$features-copyColor: #898989;

$videoPlayer-backgroundColor: #FFFFFF;
$videoPlayer-copyColor: #FFFFFF;
$videoPlayer-descColor: $titleColor;

$learnMoreTextColor: $linkColor;
$learnMoreBackgroundColor: $accentColor;

$moreFeaturesTitlesColor: #000000;

$selectorTextColor: #898989;
$selectorHighlightedTextColor: $accentColor;
$selectorBackgroundColor: #000000;
$selectorCTAColor: $accentColor;

$moreFeaturesBackgroundColor: #000000;