$appWidth: 944px;
$mobileBreakpoint: 820px;

$linkColor: #FFFFFF;

$titleColor: #cc0000;

$features-copyColor: #FFFFFF;

$videoPlayer-backgroundColor: #000000;
$videoPlayer-copyColor: #FFFFFF;

$learnMoreTextColor: $linkColor;
$learnMoreBackgroundColor: $titleColor;

$moreFeaturesTitlesColor: #000000;

$selectorTextColor: #000000;
$selectorHighlightedTextColor: #FFFFFF;
$selectorBackgroundColor: #cc0000;
$selectorCTAColor: #959595;

$moreFeaturesBackgroundColor: #cc0000;