$featureButtonHeight: 285px;
$featureButtonHeightMobile: 220px;

features {
    @include transition(0.5s);
    .row{
        width: 100%;
        height: 300px;
        float: none;
        border: 4px solid $accentColor;
    }
    @media screen and (max-width: 1275px) {
        .row {
            width: 75%;
            position: relative;
            left: 13%;
            height: $featureButtonHeightMobile;
        }

        .wp-landing-feature-button:after {
            height: $featureButtonHeightMobile*0.7 !important;
            top: $featureButtonHeightMobile*0.3 / 2 !important;
        }
    }
    @media screen and (max-width: 785px) {
        .row {
            height: 210px;
            width: 100%;
            position: relative;
            left: .3%;
        }
    }
    .wp-landing-feature-icon {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: $accentColor;
        top: 30px;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;

        > img {
            width: 75px;
            height: 75px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @media screen and (max-width: 1275px) {
            width: 60px;
            height: 60px;
            top: 20px;

            img {
                width: 45px;
                height: 45px;
            }
        }
    }

    .wp-landing-feature-title {
        text-transform: uppercase;
        width: 100%;
        top: 150px;
        text-align: center;
        color: $accentColor !important;

        @media screen and (max-width: 1275px) {
            top: 95px;
        }
        @media screen and (max-width: 479px) {
            font-size: 12px;
        }
    }

    .wp-landing-feature-button-over{
        opacity: 0;
        z-index: 2;
        display: table;
        width: 100%;
        height: 100%;
        position: relative;
        @include transition(0.2s);
    }

    .wp-landing-feature-copy-container {
        display: table-cell;
        color: $features-copyColor;
        position: relative;
        height: inherit;
        width: inherit;
        vertical-align: middle;
        padding: 0 14px;
    }

    .wp-landing-over-copy {
        font-weight: 100;
        margin-bottom: 2px;
        color: $titleColor;
        @include Helvetica-Bold;
        top: 198px;
        opacity: 0;
        font-size: smaller;
        @include transition(0.2s);

        @media screen and (max-width: 1275px) {
            font-size: smaller;
            top: 144px;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            font-size: 0.5em;
            top: 135px;
        }
    }

    .wp-landing-over-copy, .wp-landing-over-cta {
        width: 100%;
        text-align: center;
        position: absolute;
    }

    .wp-landing-over-cta {
        @include Helvetica-Medium;
        color: $accentColor;
        top: 230px;

        @media screen and (max-width: 1275px) {
            top: 168px;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            font-size: 0.8em;
            margin-left: -10px;

            .wp-landing-over-cta:after {
                top: 1px;
            }
        }
    }

    .wp-landing-over-cta:after {
        position: absolute;
        content: ' ';
        background: url(../images/arrow.jpg);
        width: 15px;
        height: 15px;
        top: 2px;
        margin-left: 4px;
    }

    .wp-landing-feature-button-over-background {
        height: 100%;
        width: 100%;
        background-color: $accentColor;
        position: absolute;
    }

    .wp-landing-feature-button {
        width: 33%;
        padding: 2px;
        float: left;
        height: $featureButtonHeight;
        position: relative;
        box-sizing: border-box;
        @include transition(0.5s);

        @media screen and (max-width: 1275px) {
            height: 150px;
        }

        .wp-landing-feature-button-up {
            position: relative;
            z-index: 1;
        }

        .wp-landing-innerBtn {
            position: absolute;
        }

        .wp-landing-feature-rule {
            width: 70%;
            height: 5px;
            border-top: 1px dashed #585858;
            top: 171px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;

            @media screen and (max-width: 1275px) {
                top: 120px;
                width: 60px;
            }
        }
    }

    .wp-landing-feature-button:after {
        content: ' ';
        width: 1px;
        height: $featureButtonHeight*0.7;
        top: $featureButtonHeight*0.3 / 2;
        position: absolute;
        right: 0;
        border-left: 1px dashed #585858;
    }

    .wp-landing-feature-button:hover .wp-landing-over-copy {
        opacity: 1;
    }

    @media screen and (max-width: $mobileBreakpoint) {
        .wp-landing-feature-button .wp-landing-over-copy {
            opacity: 1;
        }
    }

    feature-button:first-of-type {
        .wp-landing-feature-button {
            margin-left: 0px;
        }
    }

    feature-button:last-of-type {
        .wp-landing-feature-button {
            margin-right: 0px;
            margin-left: 2px;
        }

        .wp-landing-feature-button:after {
            content: initial;
        }
    }
}

features.fr {
    .row {
        @media screen and (max-width: 1275px) {
            $featureButtonHeight: 235px;
            height: $featureButtonHeight;

            .wp-landing-feature-button:after {
                height: $featureButtonHeightMobile*0.7 !important;
                top: $featureButtonHeightMobile*0.3 / 2 !important;
            }
        }

        @media screen and (max-width: $mobileBreakpoint) {
            $featureButtonHeight: 230px;
            height: $featureButtonHeight;

            .wp-landing-feature-button:after {
                height: $featureButtonHeightMobile*0.7 !important;
                top: $featureButtonHeightMobile*0.3 / 2 !important;
            }
        }
    }

    .wp-landing-feature-rule {
        top: 187px;

        @media screen and (max-width: 1275px) {
            top: 124px;
            font-size: 0.7em;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            top: 132px;
        }
    }

    .wp-landing-over-cta {
        top: 240px;

        @media screen and (max-width: 1275px) {
            top: 188px;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            top: 190px;
        }
    }

    .wp-landing-feature-title {
        @media screen and (max-width: 1275px) {
            top: 95px;
            font-size: 0.8em;
        }
    }

    .wp-landing-over-copy {
        @media screen and (max-width: 1275px) {
            top: 148px;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            top: 150px;
        }
    }
}