footer {
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	color: #333;
	padding-top: 50px;
        overflow: hidden;

	#footer-wrap {
		width: 944px;
		margin: 0 auto;
		border-top: 1px solid #BBB;
		padding: 5px 0 10px 0;
	}

	a {
		text-decoration: none;
		color: #333;
	}

	ul {
		float: left;
		width: 140px;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul:not(:last-child) {
		margin-right: 20px;
	}

	//title
	ul li {
		font-size: 7pt;
		width: 100%;
		margin-top: 5px;

		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}

		&.split {
			padding-top: 15px;
		}

		&.split span:first-child {
			padding-right: 3px;
		}

		&.split span:last-child {
			margin-left: 3px;
		}

		&:first-child {
			text-transform: uppercase;
			color: black;
			font-weight: 500;
			padding-bottom: 5px;
			border-bottom: 1px dotted black;
		}

		&:nth-child(2) {
			margin-top: 8px;
		}

		//normal link
		&:not(:first-child) {

		}
	}
}

footer {
	// position: absolute;
	// bottom: 0;
  	width: 100%;
}