learn-more-button {
	display: block;
	position: absolute;
	top: 50%;
	width: 180px;
	height: 40px;
	margin-top: -20px;
	color: $learnMoreTextColor;
	background-color: $learnMoreBackgroundColor;
	@include transition(0.2s);
    font-weight: 300;
    @media screen and (max-width: 685px) {
        font-size: .7em !important;
    }

    * {
    	color: $learnMoreTextColor;
    }

	div {
		width: 100%;
		height: 100%;
		display: table;
	}

	p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

learn-more-button:hover {
	@include grow(1.2);
}