masthead {
	width: 80%;
	position: relative;
	display: block;
	padding-top: 20px;
    
    #ka-landing-masthead {
        overflow: hidden;
        cursor: default;
        margin-bottom: 20px;
        
        @media screen and (min-width: 768px) and  (max-width: 1275px){
             height: 250px;
        }
    }
    
    img{
        width: 100%;
        @media screen and (min-width: 768px) and  (max-width: 1275px){
                 width: 75%;
                margin: auto;
                position: absolute;
                left: 0px;
                right: 0px;
        }
    }

    .ka-landing-title{
        h1{
            text-transform: uppercase;
            font-weight: 100;
            font-size: 32px;
            letter-spacing: 1px;
            margin-top: 125px;
            @media screen and (max-width: 1275px) {
                position: relative;
                left: 12.5%;
            }
            
            @media screen and (max-width: 768px) {
                text-align: center;
                padding-bottom: 10px;
                left: 0;
                
            }
        }
    }
}