product-selector {
	width: 80%;
	position: relative;
    
    h2{
        font-size: 3em;
        text-align: center;
        font-weight: 800;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        @media screen and (max-width: 1366px) {
            font-size: 2em;
            margin-top: 35px;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            margin-bottom: 0px;
        }
    }
    
   #french-door, #side-by-side, #bottom-freezer, #under-counter, #built-in{
        opacity: 0;
    }
    
    product-slides {
        display: block;
        width: 100%;
    }
    .wp-refer-landing-product-slide{
        position: absolute;
        width: 943px;
    }
    product-slide {
        height: 420px;
        display: inline-block;
        position: relative;
        top: -170px;
        left: -470px; //I dunno

        @media screen and (max-width: $mobileBreakpoint) {
            position: absolute;
            height: initial;
            top: initial;
            width: 100%;
            left: 0;
        }

        #freezers img {
            margin-left: -50px;

            @media screen and (max-width: $mobileBreakpoint) {
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: $mobileBreakpoint) {
        product-slide:first-of-type {
            position: relative;
        }
    }

    > .row{
        background-image: url('../../public/images/refer-select-shadow.png');
        background-repeat: no-repeat;
        background-position-y: 100px;

        @media screen and (max-width: $mobileBreakpoint) {
            background-position-y: -30px;
        }
    }
    
    .rl-wp-lndng-fridge-title.mobile {
        display: none;
        margin-bottom: 20px;

        @media screen and (max-width: $mobileBreakpoint) {
            @include mobile-block-element;
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            color: #000000!important;
        }
    }

    .rl-wp-lndng-fridge-title{
        position: absolute;
        left: 490px;
        top: 170px;
        width: 300px;
        font-weight: 300;
        font-size: 32px;
        color: #000000!important;
        opacity: 0;
        line-height: 30px;
        text-align: left;

        @media screen and (max-width: $mobileBreakpoint) {
            display: none;
        }
    }
    
    learn-more-button{
        position: absolute;
        left: 490px;
        top: 325px;
        width: 115px;
        height: 30px;
        opacity: 0;

        @media screen and (max-width: 1366px) {
           transform: scale(1.5,1.5);
           -webkit-transform: scale(1.5,1.5);
           left: 515px;
           font-size: .7em;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            @include mobile-block-element;
        }
    }
    
    .rl-wp-lndng-fridge{
        left: 165px;
        position: absolute;
        opacity: 0;

        @media screen and (max-width: $mobileBreakpoint) {
            left: initial;
            position: relative;
            display: block;
            top: 0;
            margin-bottom: 20px;
        }
    }
    
    .rl-wp-lndng-fridge img{
        height: 420px;

        @media screen and (max-width: $mobileBreakpoint) {
            height: 200px;
            display: block;
            margin: 0 auto;
        }
    }
    
    .rl-wp-lndng-fridge-desc{
        position: absolute;
        left: 490px;
        top: 215px;
        width: 300px;
        font-size: 18.5px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 1px;
        text-rendering: optimizeSpeed;
        opacity: 0;
        text-align: left;

        @media screen and (max-width: $mobileBreakpoint) {
            @include mobile-block-element;
            margin-bottom: 30px;
            font-size: 14px !important;
            line-height: 18px !important;
        }

        @media screen and (max-width: 1366px) {
           font-size: 18px;
           line-height: 24px;
        }
    }
    
}

product-selector-nav {
    position: relative;
    display: block;
    top: 70px;
    height: 300px;

    .row {
        position: relative;
    }
    
    .wp-refer-landing-product,.see-all {
        float: left;
        width: 14.28571428571429%;
        padding: 0 2px;
        

        img {
            width: 100%;
        }
    }

    .wp-refer-landing-product{
        @media screen and (max-width: $mobileBreakpoint) {
            width: 16.5%;
        }

        > img {
            @include transition(0.2s);
        }
    }

    .wp-refer-landing-product:not(.selected) {
        > img {
            opacity: 0.6;
        }

        .wp-refer-landing-button {
            color: $selectorTextColor;
        }
    }

    .wp-refer-landing-button {
        margin-top: 10px;
        height: 25px;
        display: table;
        color: $selectorTextColor;
        width: 100%;
        @include transition(0.2s);

        .wp-refer-landing-button-circle {
            width: 100%;
            height: 18px;
            margin-bottom: 10px;

            div {
                height: inherit;
                width: 18px;
                margin: 0 auto;
                display: block;
                background-color: $selectorTextColor;
                border-radius: 10px;
            }
        }

        p {
            width: 100%;
            line-height: 13px;
            font-size: 1em;
            font-weight: 400;
            text-align: center;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            p {
                font-size: 0.9em;
                font-weight: 200;
            }
        }
    }

    .wp-refer-landing-product:hover {
        > img {
            opacity: 0.75;
        }

        .wp-refer-landing-button {
            color: $selectorHighlightedTextColor !important;
        }

        .wp-refer-landing-button-circle div {
            background-color: $selectorHighlightedTextColor !important;
        }
    }

    .wp-refer-landing-product.selected {
        .wp-refer-landing-button {
            color: $selectorHighlightedTextColor;
        }

        .wp-refer-landing-button-circle div {
            background-color: $selectorHighlightedTextColor;
        }
    }

    .see-all {
        height: 190px;
        width: 13%;
        margin-left: 1%;
        color: $selectorCTAColor;
        text-transform: uppercase;
        display: table;
        padding: 0;
        @include transition(0.2s);

        div {
            display: table;
            width: 100px;
            height: 100px;
            border: 1px solid black;
            border-radius: 130px;
            margin-top: 38%;
            margin-left: 10px;
            font-weight: 400;
        }

        p {
            @include centered-table-cell;
            text-align: center;
            font-size: 1.3em;
            line-height: 20px;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            clear: left;
            width: 97%;
            margin-top: 10px;
            display: initial;
            padding: initial;

            div {
                margin-top: initial;
                margin: 0 auto;
                width: 60px;
                height: 60px;
            }

            p {
                font-size: 1em;
                line-height: 15px;
            }
        }
    }
}

product-selector.fr {
    .rl-wp-lndng-fridge-title {
        width: 450px;
    }

    .rl-wp-lndng-fridge-title.mobile {
        @media screen and (max-width: $mobileBreakpoint) {
            width: 100%;
        }
    }

    .rl-wp-lndng-fridge-desc {
        width: 450px;

        @media screen and (max-width: $mobileBreakpoint) {
            width: 100%;
        }
    }

    product-selector-nav {
        @media screen and (max-width: $mobileBreakpoint) {
            div .wp-refer-landing-button p {
                font-size: 0.6em;
                font-weight: 200;
            }
        }
    }

    product-slides {
        product-slide {
            .rl-wp-lndng-fridge-title.mobile {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }

    learn-more-button{
        width: 135px;
    }
}

.product-slide-background {
    width: 100%;
    height: 130px;
    background: url(../images/refer-select-shadow.png);
    position: absolute;
    background-position: 0 -280px;
    top: 310px;
    left: -90px;
    opacity: 0.5;

    @media screen and (max-width: $mobileBreakpoint) {
        left: 0;
    }
}