<a href="{{btnLink}}">
	<div class="ka-landing-feature-button" >
	    <!-- I don't know.  I just like spacing my code with comments -->
	    <div class="ka-landing-feature-button-up">
	        <div class="ka-landing-feature-icon ka-landing-innerBtn"><img class="{{btnType}}" src={{btnIcon}} alt="Check out our buying guide!" /></div>
	        <div class="ka-landing-feature-title ka-landing-innerBtn">{{btnTitle}}</div>
	        <div class="ka-landing-feature-rule ka-landing-innerBtn"></div>
	    </div>
	    <div class="ka-landing-feature-button-over">
	    	<div class="ka-landing-feature-button-over-background"></div>
	        <div class="ka-landing-feature-copy-container">
	        	<p class="ka-landing-over-copy">{{btnRollOverCopy}}</p>
	        	<p class="ka-landing-over-cta">{{btnRollOverCTA}}</p>
	        </div>
	    </div>
	</div>
</a>