<div>
	<ul>
		<li *ngFor="#video of data; #i=index" class="{{currentId !== i ? 'hide' : 'show'}}">
			<videoplayer-video [image]="video.image" [id]="video.id" [selected]="currentId == i" [width]="video.width" [height]="video.height"></videoplayer-video>
		</li>
	</ul>
    <div class="wp-refer-landing-videoplayer-text">
    	<h2 class="wp-refer-landing-videoplayer-title" [innerHTML]="data[currentId].title">
    	</h2>
    	<div class="wp-refer-landing-videoplayer-description" [innerHTML]="!!data[currentId].desc ? data[currentId].desc : ''">
        </div>
    </div>
</div>